<p>1. In advance, by bank transfer or international bank draft, in US dollars only, to:</p>
    <p>Bank name: UBS SA
    Address: 35, rue des Noirettes, CH-1211 Geneva 2, Switzerland
    Account name: United Nations Environment Programme / UNEP-CITES Secretariat
    Account number: 240-730.490.60 F
    IBAN: CH21 0024 0240 7304 9060 F
    SWIFT code: UBSWCHZH12A
    [Please indicate the name(s) of the representative(s) for whom the payment is being made]</p>

<p>2. At the time of registration, in cash: 100 US dollars or 85 Swiss francs.
    Please note that personal cheques and credit cards are NOT accepted.</p>
