{% extends "meeting/meeting.html" %}

{% block scripts %}
    <script>
        app.chart_data = {{ data }};
        app.chart_labels = {{ labels|safe }};
    </script>

    {{ script_src("js/lib/d3.js") }}
    {{ script_src("js/charts.js") }}
{% endblock %}

{% block meeting_content %}
    {% from "meeting/meeting.html" import nav_tabs %}
    {{ nav_tabs("charts", meeting_id=meeting_row.id) }}
    <h2>Charts</h2>
    <div id="bar-chart" class="bar-chart well"></div>
    <div id="pie-chart" class="pie-chart well">
        <ul class="legend">
            {% for c in categories %}
                {% if c[1] > 0 %}
                    <li>
                        <b class="color"></b>
                        <span>{{ c[0] }} ({{ c[1] }})</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
