{% extends "meeting/meeting.html" %}

{% block meeting_content %}
{% from "meeting/meeting.html" import nav_tabs %}
{{ nav_tabs('printouts') }}

<h2>Meeting room</h2>
<div class="row">
  <table class="table table-bordered span6">
    <tbody>
      <tr>
        <th>Short list (by category)</th>
        <td class="span2"><a class="btn" href="{{ url_for('printouts.verified_short_list') }}">verified</a></td>
        <td class="span2"><a class="btn disabled" href="#">attending</a></td>
      </tr>
      <tr>
        <th>For meeting room</th>
        <td>
          <a class="btn"
             href="{{ url_for('printouts.verified_meeting_room') }}">
             verified
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>For distribution of documents</th>
        <td>
          <a class="btn"
             href="{{ url_for('printouts.document_distribution', type='verified') }}">
             verified
          </a>
        </td>
        <td>
          <a class="btn"
             href="{{ url_for('printouts.document_distribution', type='attended') }}">
             attending
          </a>
        </td>
      </tr>
      <tr>
        <th>Labels</th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td><a class="btn disabled" href="#">attending</a></td>
      </tr>
      <tr>
        <th>Credentials</th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td><a class="btn disabled" href="#">attending</a></td>
      </tr>
      <tr>
        <th>Admission of observers</th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td><a class="btn disabled" href="#">attending</a></td>
      </tr>
      <tr>
        <th>Labels for pigeon holes</th>
        <td><a class="btn" href="{{ url_for('printouts.verified_pigeon_holes') }}">verified</a></td>
        <td><a class="btn" href="{{ url_for('printouts.attended_pigeon_holes') }}">attending</a></td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Lists of participants</h2>
<div class="row">
  <table class="table table-bordered span6">
    <tbody>
      <tr>
        <th>for verification (by delegation)</th>
        <td class="span2"></td>
        <td class="span2"><a class="btn disabled" href="#">attending</a></td>
      </tr>
      <tr>
        <th>final (All participants)</th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td><a class="btn disabled" href="#">attending</a></td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Printing badges by category</h2>
<div class="row">
  <table class="table table-bordered span6">
    <tbody>
      <tr>
        <th>using coloured badges</th>
        <td class="span2"><a class="btn disabled" href="#">verified</a></td>
        <td class="span2"></td>
      </tr>
      <tr>
        <th>
          using blank badges
          <span class="label label-info">blue stripe</span>
        </th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td></td>
      </tr>
      <tr>
        <th>
          using blank badges
          <span class="label label-success">green stripe</span>
        </th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td></td>
      </tr>
      <tr>
        <th>
          using blank badges
          <span class="label">grey stripe</span>
        </th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td></td>
      </tr>
      <tr>
        <th>
          using blank badges
          <span class="label label-warning">yellow stripe</span>
        </th>
        <td><a class="btn disabled" href="#">verified</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
