{% extends "layout.html" %}

{% block extra_head %}
  <style media="print">
    .navbar, .breadcrumb, .actions {
      display: none;
    }
    ul, li { margin: 0; padding: 3px;}
    h1 {
      text-align: center;
      font-size: 18px;
    }
    .subheader {
      font-style: italic;
      background: #ccc;
      text-align: center;
      width: 100px;
      padding: 7px;
      border: 1px solid black;
    }
    .subheader h3 {
      font-size: 14px!important;
      padding: 0;
      margin: 0;
      padding-top: 7px;
    }
    .credentials-header table {
      margin-top: 15px;
      list-style-type: none;
    }
    .credentials-header table td {
      padding: 0;
      vertical-align: top;
    }
    .credentials-header .title {
      text-align: right;
      font-weight: bold;
      font-style: italic;
      font-size: 14px;
      width: 350px;
    }
    .credentials-header .content {
      padding-left: 20px;
      font-size: 14px;
    }
    .alert {
      color: #C09853;
      background-color: #FCF8E3;
      border: 1px solid #FBEED5;
      border-radius: 4px 4px 4px 4px;
      margin-bottom: 18px;
      padding: 8px 35px 0 14px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .alert-info {
      background-color: #D9EDF7!important;
      border-color: #BCE8F1!important;
      color: #3A87AD!important;
    }
    footer {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
    {% set p = person %}
    {% set c = person.category %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('meeting.home'), "Meeting"),
      (url_for('meeting.registration'), "Registration"),
      (url_for('participant.view', person_id=person.id), p.name),
      (url_for('participant.credentials', person_id=person.id), "credentials"),
      ]) }}
</ul>

  <div class="container">
    <div class="credentials-header">
      <h1>
        {{ meeting_description }} <br />
        {{ meeting_address }}
      </h1>

      <div class="subheader">
        <h3>
          Details of registration – {{ c["details_of_registration"] }}
        </h3>
      </div> {# /.subheader #}

      <table>
        <tr>
          <td class="title">Name and address</td>
          <td class="content">
            {{ p.name }} <br />
            {% if p["representing_organization_show"] %}
              {{ p["representing_organization"] }} <br />
            {% endif %}

            {{ p["personal"]["address"] }} <br />
            {{ p["personal"]["place"] }} <br />

            {% if p["personal"]["country"] %}
              {{ p.country }} <br />
            {% endif %}

            <br /> {# empty line #}

            {% if p["personal"]["phone"] %}
              T: {{ p["personal"]["phone"] }} <br />
            {% endif %}

            {% if p["personal"]["mobile"] %}
              C: {{ p["personal"]["mobile"] }} <br />
            {% endif %}
            {% if p["personal"]["fax"] %}
              F: {{ p["personal"]["fax"] }} <br />
            {% endif %}
            E: {{ p["personal"]["email"] }} <br />
          </td>
        </tr> {# name and adress #}

        <tr>
          <td class="title">Category</td>
          <td class="content">{{ c["name"] }}</td>
        </tr> {# category #}

        <tr>
          <td class="title">Representative of:</td>
          <td class="content">{{ p.representing() }}</td>
        </tr> {# representive of #}

        {% if c["fee"] == "Show" %}
        <tr>
          <td class="title">Fee</td>
          <td class="content">{{ p["personal"]["fee"] }}</td>
        </tr> {# fee #}
        {% endif %}

        <tr>
          <td class="title">Language</td>
          <td class="content">{{ p.language }}</td>
        </tr> {# language #}

        <tr>
          <td class="title">Invitation received</td>
          <td class="content">
            {% if c["invitation_received"] == "Not required" %}
              Not required
            {% elif p["meeting_flags"]["invitation"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
        </tr> {# invitation received #}

        <tr>
          <td class="title">Web Alerts</td>
          <td class="content">
            {% if p["meeting_flags"]["web_alert"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
        </tr> {# web alerts #}
      </table>

    <div class="credentials-content">
      {% if not person.has_photo %}
        <p class="alert">PLEASE SEND BY EMAIL A PHOTO FOR YOUR BADGE
           (IN JPG FORMAT) TO AVOID LONG QUEUES AT REGISTRATION.</p>
      {% endif %}

      {% if not p["meeting_flags"]["credentials"] %}
        <div class="phrases-credentials">
          {% include "partials/_phrases.credentials.html" %}
        </div>
      {% endif %}

      {% if c["id"]|int > 70 and not p["meeting_flags"]["approval"] %}
        <div class="phrases-approval">
          {% include "partials/_phrases.approval.html" %}
        </div>
      {% endif %}

      {% if p["personal"]["fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div class="phrases-fee">
          {% include "partials/_phrases.fee.html" %}
        </div>
      {% endif %}

      {% if p["personal"]["fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div class="phrases-payment">
          {% include "partials/_phrases.payment.html" %}
        </div>
      {% endif %}

    </div> {# /.credentials-content #}

  </div> {# /.container #}

  <div class="alert alert-info">
    <p>
      For further information about {{ meeting_description }} &amp; (hotels, documents, etc.), please visit  the <a href="http://www.cites.org">CITES website</a>.
    </p>
  </div>
{% endblock %}
