<p>Participants are reminded of Rules 7, 8, 9, 10 and 11 of the Rules of Procedure for meetings of the Standing Committee:</p>

<p>"Rule 7
The Representative or, in his/her absence, the Alternate Representative of a member shall, before exercising the voting rights of the member at a meeting have been granted powers by or on behalf of a proper authority enabling him or her to represent the member at the meeting.</p>

<p>Rule 8
Any observer representing a Party or an organization in a meeting, shall have been granted powers by or on behalf of a proper authority enabling him or her to represent the Party or organization.</p>

<p>Rule 10
Credentials in the form of a letter from the Minister for Foreign Affairs or the Minister responsible or the Director of the Management Authority or a note verbale from a permanent mission may be accepted. Verifiable copies of credentials may also be accepted. Credentials shall however not be accepted if they have been signed by the person whom they accredit. Credentials may be valid for more than one meeting if this is specified in the text thereof."</p>

<p>OBSERVER ORGANIZATIONS:
The Secretariat wishes to remind representatives of organizations that they need to provide credentials from a proper authority enabling them to represent their organization. The credentials will not be accepted if they have been signed by the person whom they accredit. In addition, NGOs should note that the Letter of approval from the Management Authority of the State in which the headquarters of the organization are located does not qualify as credentials.
</p>
