body {
    padding-top: 60px;
}


/* DataTables with Twitter Boostrap v2
   http://datatables.net/blog/Twitter_Bootstrap_2
   http://datatables.net/media/blog/bootstrap_2/DT_bootstrap.css */

div.dataTables_length label { float: left; text-align: left; }
div.dataTables_length select { width: 75px; }
div.dataTables_filter label { float: right; }
div.dataTables_info { padding-top: 8px; }
div.dataTables_paginate { float: right; margin: 0; }
table.table { clear: both; margin-bottom: 6px !important; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('lib/datatables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('lib/datatables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('lib/datatables/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('lib/datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('lib/datatables/images/sort_desc_disabled.png') no-repeat center right; }

.credentials-header h1,
.credentials-header .subheader {
    text-align: center;
}

.credentials-header .subheader {
    margin-top: 15px;
    font-style: italic;
    background: #ccc;
}

.credentials-header ul {
    list-style-type: none;
    margin: 15px 200px;
}
.credentials-header .title {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    float: left;
    width: 160px;
}
.credentials-header .content {
    line-height: 24px;
    margin-left : 165px;
    font-size: 16px;
}
.credentials-content p {
    font-size: 16px;
    line-height: 24px;
}

.us_states_container {
    list-style-type: none;
    font-size: 10px;
    margin: 0;
    width: 36em;  /* room for 3 columns */
}
.us_states_container li {
    float: left;
    width: 12em;  /* accommodate the widest item */
}

.us_states_container .title {
    font-weight: bold;
    cursor: pointer;
    float: left;
    width: 26px;
}

