{% extends "layout.html" %}

{% block content %}
    {% set p = person %}
    {% set c = ref["category"][person["personal"]["category"]] %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('webpages.meeting'), "Meeting"),
      (url_for('webpages.meeting_registration'), "Registration"),
      (url_for('webpages.view', person_id=person_id), p.name),
      (url_for('webpages.credentials', person_id=person_id), "credentials"),
      ]) }}
</ul>

  <div class="container">
    <div class="credentials-header">
      <h1>
        {{ meeting_description }} <br />
        {{ meeting_address }}
      </h1>

      <div class="subheader">
        <h3>
          Details of registration – {{ c["details_of_registration"] }}
        </h3>
      </div> {# /.subheader #}

      <ul>
        <li>
          <div class="title">Name and address:</div>
          <div class="content">
            {{ p.name }} <br />
            {% if p["representing_organization_show"] %}
              {{ p["representing_organization"] }} <br />
            {% endif %}

            {{ p["personal"]["address"] }} <br />
            {{ p["personal"]["place"] }} <br />

            {% if p["personal"]["country"] %}
              {{ ref["country"][p["personal"]["country"]] }} <br />
            {% endif %}

             <br /> {# empty line #}

             {% if p["personal"]["phone"] %}
               T: {{ p["personal"]["phone"] }} <br />
             {% endif %}

             {% if p["personal"]["mobile"] %}
               C: {{ p["personal"]["mobile"] }} <br />
             {% endif %}
             {% if p["personal"]["fax"] %}
                F: {{ p["personal"]["fax"] }} <br />
             {% endif %}
             E: {{ p["personal"]["email"] }} <br />
          </div>
        </li> {# name and adress #}

        <li>
          <div class="title">Category</div>
          <div class="content">
            {{ c["name"] }}
          </div>
        </li> {# category #}

        <li>
          <div class="title">Representative of:</div>
          <div class="content">{{ c["representative"] }}</div>
        </li> {# representive of  #}

        {% if c["fee"] == "Show" %}
        <li>
          <div class="title">Fee</div>
          <div class="content">{{ p["personal"]["fee"] }} </div>
        </li> {# fee #}
        {% endif %}

        <li>
          <div class="title">Language</div>
          <div class="content">
            {{ ref["language"][p["personal"]["language"]] }}
          </div>
        </li> {# language #}

        <li>
          <div class="title">Invitation received</div>
          <div class="content">
            {% if c["invitation_received"] == "Not required" %}
              Not required
            {% elif p["type_invitation"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </li> {# invitation received #}

        <li>
          <div class="title">Web Alerts</div>
          <div class="content">
            {% if p["info_alert"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </li> {# web alert #}
      </ul>
    </div> {# /.credentials-header#}

    <div class="credentials-content">
      {% if not has_photo %}
        <p class="alert">PLEASE SEND BY EMAIL A PHOTO FOR YOUR BADGE
           (IN JPG FORMAT) TO AVOID LONG QUEUES AT REGISTRATION.</p>
      {% endif %}

      {% if not p["meeting_flags"]["credentials"] %}
        <div>{% include "partials/_phrases.credentials.html" %}</div>
      {% endif %}

      {% if not c["id"]|int > 70 and p["meeting_flags"]["approval"] %}
        <div>{% include "partials/_phrases.approval.html" %}</div>
      {% endif %}

      {% if p["personal"]["fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div>{% include "partials/_phrases.fee.html" %}</div>
      {% endif %}

      {% if p["personal"]["fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div>{% include "partials/_phrases.payment.html" %}</div>
      {% endif %}

    </div> {# /.credentials-content #}

  </div> {# /.container #}

  <div class="alert alert-info">
    <p>
      For further information about {{ meeting_description }} & (hotels, documents, etc.), please visit  the <a href="http://www.cites.org">CITES website</a>.
    </p>
  </div>
{% endblock %}
