{% extends "layout.html" %}

{% block content %}
    {% set p = person.data_json %}
    {% set ps = person_schema %}
    {% set c = category %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('webpages.meeting') }}">Meeting</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.meeting_registration') }}">Registration</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.view', person_id=person.id) }}">View</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#">{{ person.name }}</a>
  </li>
</ul>

  <div class="container">
    <div class="credentials-header">
      <h1>
        {{ p["meeting_description"] }} <br />
        {{ p["meeting_address"] }}
      </h1>

      <div class="subheader">
        <h3>
          Details of registration – {{ c["details_of_registration"] }}
        </h3>
      </div> {# /.subheader #}

      <ul>
        <li>
          <div class="title">Name and address:</div>
          <div class="content">
            {{ person.name }} <br />
            {% if p["representing_organization_show"] %}
              {{ p["representing_organization"] }} <br />
            {% endif %}

            {{ p["personal_address"] }} <br />
            {{ p["personal_place"] }} <br />

            {% if p["personal_country"] %}
              {{ ps.personal.country.properties.value_labels[p["personal_country"]] }} <br />
            {% endif %}

             <br /> {# empty line #}

             {% if p["personal_phone"] %}
               T: {{ p["personal_phone"] }} <br />
             {% endif %}

             {% if p["personal_mobile"] %}
               C: {{ p["personal_mobile"] }} <br />
             {% endif %}
             {% if p["personal_fax"] %}
                F: {{ p["personal_fax"] }} <br />
             {% endif %}
             E: {{ p["personal_email"] }} <br />
          </div>
        </li> {# name and adress #}

        <li>
          <div class="title">Category</div>
          <div class="content">
            {{ c["name"] }}
          </div>
        </li> {# category #}

        <li>
          <div class="title">Representative of:</div>
          <div class="content">{{ c["representative"] }}</div>
        </li> {# representive of  #}

        {% if c["fee"] == "Show" %}
        <li>
          <div class="title">Fee</div>
          <div class="content">{{ p["personal_fee"] }} </div>
        </li> {# fee #}
        {% endif %}

        <li>
          <div class="title">Language</div>
          <div class="content">
            {{ ps.personal.language.properties.value_labels[p["personal_language"]] }}
          </div>
        </li> {# language #}

        <li>
          <div class="title">Invitation received</div>
          <div class="content">
            {% if c["invitation_received"] == "Not required" %}
              Not required
            {% elif p["type_invitation"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </li> {# invitation received #}

        <li>
          <div class="title">Web Alerts</div>
          <div class="content">
            {% if p["info_alert"] %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </li> {# web alert #}
      </ul>
    </div> {# /.credentials-header#}

    <div class="credentials-content">
      {% if not p["pic_path"] %}
        <p class="alert">PLEASE SEND BY EMAIL A PHOTO FOR YOUR BADGE
           (IN JPG FORMAT) TO AVOID LONG QUEUES AT REGISTRATION.</p>
      {% endif %}

      {% if not p["meeting_flags_credentials"] %}
        <div>{% include "partials/_phrases.credentials.html" %}</div>
      {% endif %}

      {% if not c["id"]|int > 70 and p["meeting_flags_approval"] %}
        <div>{% include "partials/_phrases.approval.html "%}</div>
      {% endif %}

      {% if p["personal_fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div>{% include "partials/_phrases.fee.html" %}</div>
      {% endif %}

      {% if p["personal_fee"]|int == 1 and c["id"]|int in (80, 90) %}
        <div>{% include "partials/_phrases.payment.html" %}</div>
      {% endif %}

    </div> {# /.credentials-content #}

  </div> {# /.container #}
{% endblock %}
