{% extends 'layout.html' %}
{% block content %}

<form class="form-horizontal">
  <fieldset>
    <legend>Edit person</legend>

    {%- for name in mk.children_order(person) %}
      {% set field = person[name] %}

      <div class="control-group">
        {{ mk.label(field,
                    class='control-label',
                    contents=field.properties.label) }}
        <div class="controls">
          {{ mk.widget(field) }}
        </div>
      </div>

    {%- endfor %}

  </fieldset>
</form>

{% endblock %}
