{% extends 'layout.html' %}
{% block content %}


<h2>Participants</h2>

<table class="table table-bordered table-striped">

  <thead>
    <th>Name</th>
    <th>Country</th>
    <th>Invitation</th>
  </thead>

  <tbody>
  {% for person in people %}

    <tr>
      <td>
        {{ person["personal_name_title"] }}
        {{ person["personal_first_name"] }}
        {{ person["personal_last_name"] }}
      </td>
      <td>
        {{ person["personal_country"] }}
      </td>
      <td>
        {% if person["type_invitation"] %}
          <i class="icon-ok"></i>
        {% endif %}
      </td>
    </tr>

  {% endfor %}
  </tbody>

</table>

{% endblock %}
