{% from 'bits.html' import css_link, script_src, flash_messages -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CITES - Meetings</title>
    {{ css_link('lib/bootstrap/css/bootstrap.css') }}
    {{ css_link('lib/bootstrap/css/bootstrap-responsive.css') }}
    {{ css_link('style.css') }}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"
             data-toggle="collapse"
             data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('webpages.home') }}">
            CITES - Meetings
          </a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="{{ url_for('webpages.home') }}">Meetings</a></li>
              <li><a href="#"><i class="icon-question-sign icon-white"></i> Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      {{ flash_messages() }}

      {% block content %}
        {{ content }}
      {% endblock %}

      <footer>
        <p class="pull-right">CITES meetings tool - demo</p>
      </footer>

    </div>

    {{ script_src('lib/jquery-1.7.1.min.js') }}

    {% block scripts %}
    {% endblock %}

  </body>
</html>
