{% extends 'meeting.html' %}
{% block tab_content %}

<div class="form-horizontal">

  <div class="control-group">
    <div class="control-label">Short list (by category)</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
      <a class="btn btn-success" href="#">Attending</a>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">For meeting room</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">For distribution of documents</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
      <a class="btn btn-success" href="#">Attending</a>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Labels</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
      <a class="btn btn-success" href="#">Attending</a>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Credentials</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
      <a class="btn btn-success" href="#">Attending</a>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Admission of observers</div>
    <div class="controls">
      <a class="btn btn-primary" href="#">Verified</a>
      <a class="btn btn-success" href="#">Attending</a>
    </div>
  </div>

</div>

{% endblock tab_content %}
