{% extends "layout.html" %}

{% block extra_head %}
  {% from 'bits.html' import css_link -%}
  {{ css_link('badge.css') }}
{% endblock %}


{% macro badge(person) -%}
<section class="badge badge-blue">

  <header class="badge-stripe">
    <h1>{{ person.meeting_description }}</h1>
    <h2>{{ person.meeting_address }}</h2>
    <img class="cites-logo" src="{{ url_for('static', filename='CITES.jpg') }}" />
    <img class="unep-logo" src="{{ url_for('static', filename='UNEP.jpg') }}" />
  </header>

  <div class="badge-content">
  </div>

</section>
{%- endmacro %}


{% block content %}

{{ badge(person) }}

{% endblock %}
