{% extends "layout.html" %}

{% block extra_head %}
  {% from 'bits.html' import css_link -%}
  {{ css_link('css/badge.css') }}
{% endblock %}

{% macro badge(person) -%}
{% set category = ref['category'][person['personal']['category']] %}
{% set badge_color = {
    'NULL':          "",
    'all pink':      "badge-pink",
    'blue stripe':   "badge-blue-stripe",
    'all white':     "badge-white",
    'green stripe':  "badge-green-stripe",
    'yellow stripe': "badge-yellow-stripe",
    'grey stripe':   "badge-grey-stripe",
    'golden stripe': "badge-golden-stripe",
  }.get(category['badge_color']) %}

<section class="badge {{ badge_color }}">

  <header class="badge-stripe">
    <h1>{{ meeting_description }}</h1>
    <h2>{{ meeting_address }}</h2>
    <img class="cites-logo" src="{{ url_for('static', filename='img/CITES.jpg') }}" />
    <img class="unep-logo" src="{{ url_for('static', filename='img/UNEP.jpg') }}" />
  </header>

  <div class="badge-content">
    {% if person.has_photo %}
      <img class="photo"
           src="{{ url_for('webpages.photo', person_id=person.id) }}">
    {% endif %}
    <p class="badge-text">
      <span class="person-name">
        {%- if person['representing']['country'] == 'CN' -%}
          {{ person['personal']['last_name']|upper }}
          {{ person['personal']['first_name'] }}
        {%- else -%}
          {{ person['personal']['first_name'] }}
          {{ person['personal']['last_name']|upper }}
        {%- endif -%}
      </span>
      <br>
      <span class="person-representing">
        {%- if category['stat'] == "Staff" or category['name'] == "Visitor"  -%}
          {{ category['name'] }}
        {%- elif category['representative'] == "Region" -%}
          {{ ref['region'][person['representing']['region']] }}
        {%- elif category['representative'] == "Country" -%}
          {{ ref['country'][person['representing']['country']] }}
        {%- elif category['reg'] == "Observers, Other" -%}
          OTHER OBSERVER
        {%- endif -%}
      </span>
    </p>
  </div>

</section>
{%- endmacro %}


{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('webpages.meeting'), "Meeting"),
      (url_for('webpages.meeting_registration'), "Registration"),
      (url_for('webpages.view', person_id=person.id), person.name),
      ]) }}
</ul>

<div class="actions">
  <a class="btn btn-success btn-inverse disabled" href="#">
    <i class="icon-print icon-white"></i>
    Print
  </a>
</div>

{{ badge(person) }}

{% endblock %}
