{% extends "layout.html" %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('webpages.meeting') }}">Meeting</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.meeting_registration') }}">Registration</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.view', person_id=person.id)
        -}}">{{ person.name }}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="{{ url_for('webpages.edit_photo', person_id=person.id)
        -}}">Participant picture</a>
  </li>
</ul>


<h2>Upload picture for <em>{{ person.name }}</em></h2>

{% if has_photo %}
<div class="row">
  <div class="span6">
    <div class="thumbnail">
        <img src="{{ url_for('webpages.photo', person_id=person.id) }}"><br>

    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <form method="post" enctype="multipart/form-data"
        class="form-horizontal span6">

      <div class="control-group">
        <label class="control-label">Photo</label>
        <div class="controls">
          <input type="file" name="photo">
        </div>
      </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Upload</button>
      <a class="btn" href="{{ url_for('webpages.view', person_id=person.id)
          -}}">Cancel</a>
    </div>

  </form>
</div>

{% endblock %}
