{% extends "layout.html" %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('webpages.meeting') }}">Meeting</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.meeting_printouts') }}">Printouts</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="{{ url_for('webpages.meeting_verified_short_list') }}">Print list of registered participants (verified)</a>
  </li>
</ul>

<div class="container">

  <div class="header">
      <h4>
        {{ meeting["description"] }} <br />
        {{ meeting["address"] }}
      </h4>
      <h1>List of announced participants - Total: {{ registered | length }}</h1>
  </div>

  <div class="subheader">
    <h3>
      <ul>
        <li>Credentials are required for all participants</li>
        <li>Letter of approval from Management Authority is required  for Categories 80 and 90</li>
        <li>Fees only for NGOs (Categories 80 and 90)</li>
      </ul>
    </h3>
  </div>

  <div class="content">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Representing</th>
          <th>Name</th>
          <th>Cat</th>
          <th>Cred</th>
          <th>Appr</th>
          <th>Inv</th>
          <th>Fee</th>
          <th>Lang</th>
          <th>Alert</th>
        </tr>
      </thead>
      <tbody>
        {% for person in registered %}
        <tr>
          <td>{% if person.photo_id -%} yes {%- else -%} no {%- endif %}</td>
          <td>{{ person["representing_country"] }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person["personal_category"] }}</td>
          <td>{{ person["meeting_flags_credentials"] }}</td>
          <td>{{ person["meeting_flags_approval"] }}</td>
          <td>{{ person["meeting_flags_invitation"] }}</td>
          <td>{{ person["personal_fee"] }}</td>
          <td>{{ person["personal_language"] }}</td>
          <td>{{ person["meeting_flags_web_alert"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}