{% extends "layout.html" %}

{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for("webpages.meeting"), "Meeting"),
      (url_for("webpages.meeting_printouts"), "Printouts"),
      (url_for("webpages.meeting_verified_meeting_room"),
          "Print list of delegations (to prepare the meeting room)"),
      ]) }}
  </li>
</ul> {# /.breadcrum #}

<div class="container">
  <div class="header">
    <h4> {{ meeting["description"] }} <br /> {{ meeting["address"] }}</h4>
    <h1>List of delegations (to prepare the meeting room)</h1>
  </div> {# /.header #}

  <div class="content">
    <div class="actions">
      <a class="btn btn-success btn-inverse disabled" href="#">
        <i class="icon-print icon-white"></i> Print
      </a>
    </div> {# /.actions #}


    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Qty</th>
          <th>Delegation</th>
        </tr>
      </thead>

      <tbody>
        {% for room, room_lists in participants_in_rooms.items() %}
          {% if room_lists["data"] %}
            <tr>
              <td class="category" colspan="2">
                {{ room }} (total = {{ room_lists["count"] }})
              </td>
            </tr>
            {% for room_list, participants in room_lists["data"]|dictsort %}
              <tr>
                <td class="qty">{{ participants|length }}</td>
                <td>{{ room_list }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div> {# /.content #}
</div> {# /.container #}


{% endblock %}
