{% extends "layout.html" %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('webpages.meeting') }}">Meeting</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ url_for('webpages.meeting_registration') }}">Registration</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#">{{ person.name }}</a>
  </li>
</ul>


<h1>
  {{ person.name }}
  <a class="btn btn-mini btn-info"
      href="{{ url_for('webpages.edit', person_id=person.id) }}">Edit</a>

  <a class="btn btn-mini btn-danger" href="#">Delete</a>
</h1>

{{ mk.widget(person_schema) }}

{% endblock %}
