{% macro input(mk, field) %}
  {{ mk.input(field, id="field-%s" % field.name,
              class=field.properties.css_class) }}
{% endmacro %}

{% macro textarea(mk, field) %}
  {{ mk.textarea(field, id="field-%s" % field.name,
                 class=field.properties.css_class)
  }}
{% endmacro %}

{% macro mail(mk, schema) %}
    <fieldset>
      <legend>Send email to {{ schema.to.value }}</legend>

      {%- for name in mk.children_order(schema) %}
        {% set field = schema[name] %}

        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">
            {{ mk.widget(field) }}
          </div>
        </div>
    {% endfor -%}
    </fieldset>
{% endmacro %}
