{%- macro input(mk, field) %}
  {{ field.value }}
{% endmacro -%}

{%- macro textarea(mk, field) %}
  <div>{{ field.value }}</div>
{% endmacro -%}

{%- macro select(mk, field) %}
  {% set value_label = (field.properties.value_labels[field.value]
      if field.properties.value_labels else field.value) %}
   {{ value_label }}
{% endmacro -%}

{%- macro checkbox(mk, field) %}
  {% if field.value %}
    <i class="icon-ok"></i>
  {% else %}
    <i class="icon-remove"></i>
  {% endif %}
{% endmacro -%}

{%- macro group(mk, group) %}
  <table class="table table-bordered table-condensed">
    <tbody>
    {%- for name in mk.children_order(group) %}
      <tr>
        {% set field = group[name] %}
        <th class="span2">{{ field.label }}</th>
        <td>{{ mk.widget(field) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro -%}

{%- macro schema(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <h2>{{ field.label }}</h2>
    {{ mk.widget(field) }}
  {% endfor -%}
{% endmacro -%}
