{% extends 'layout.html' %}
{% block content %}

  <hgroup>
    <h1>Sixty-first meeting of the Standing Committee</h1>
    <h2>Geneva (Switzerland), 15-19 August 2011</h2>
  </hgroup>

  {% block meeting_content %}{% endblock %}

{% endblock %}

{% block scripts %}
  {% from 'bits.html' import script_src -%}
  {{ script_src('bootstrap/js/bootstrap-dropdown.js') }}
{% endblock %}


{% macro nav_tabs(active, meeting_id=None) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'registration' else '' }}">
    <a href="{{ url_for('meeting.registration', meeting_id=meeting_id) }}">Registration</a>
  </li>

  <li class="{{ 'active' if active == 'printouts' else '' }}">
    <a href="{{ url_for('printouts.home', meeting_id=meeting_id) }}">Printouts</a>
  </li>

  <li class="dropdown {{ 'active' if active == 'settings' else '' }}">

    <a class="dropdown-toggle" data-toggle="dropdown">
      Settings
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a href="{{ url_for('meeting.settings_phrases', meeting_id=meeting_id) }}">Phrases</a>
      </li>

      <li>
        <a href="{{ url_for('meeting.settings_fees', meeting_id=meeting_id) }}">Fees</a>
      </li>

      <li>
        <a href="{{ url_for('meeting.settings_categories', meeting_id=meeting_id) }}">Categories</a>
      </li>
    </ul>

  </li>

  <li class="{{ 'active' if active == 'charts' else '' }}">
    <a href="{{ url_for('charts.home', meeting_id=meeting_id) }}">Charts</a>
  </li>

</ul>
{%- endmacro %}
